:root {
  --base-font-size: 16px;
}

.login-wrapper {
  --input-focus: #003566;
  --font-color: rgba(0, 53, 102, 0.2);
  --bg-color: #FFFFFF;
  --main-color: #003566;
}

.login-card-inner {
  width: 40.75rem;
  height: 40.75rem;
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.login-card-front {
  padding: 1.25rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #CCDBFD;
  gap: 1.25rem;
  border-radius: 0.3125rem;
  border: 0.125rem solid var(--main-color);
  box-shadow: 0.25rem 0.25rem var(--main-color);
  width: 43.75rem;
  height: 40.875rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  padding-left: 0.9375rem;
}

.login-title {
  margin: 1.25rem 0;
  font-size: 2.813rem;
  font-weight: 900;
  text-align: center;
  color: var(--main-color);
  padding-bottom: 1.125rem;
}

.login-label {
  font-size: 1.5rem;
  font-weight: 600;
  color: #003566;
}

.login-input {
  width: 39.0625rem;
  height: 4.4375rem;
  border-radius: 0.3125rem;
  border: 0.125rem solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 0.25rem 0.25rem var(--main-color);
  font-size: 1.5625rem;
  font-weight: 600;
  color: var(--font-color);
  padding: 0.3125rem 0.625rem;
  outline: none;
}

.login-input::placeholder {
  color: var(--font-color);
  opacity: 0.8;
}

.login-input:focus {
  border: 0.125rem solid var(--input-focus);
}

.login-input + .login-label {
  margin-top: 1.25rem;
}

.login-button:active {
  box-shadow: 0 0 var(--main-color);
  transform: translate(0.1875rem, 0.1875rem);
}

.login-button {
  margin: 1.25rem 0;
  width: 39.0625rem;
  height: 4.6875rem;
  border-radius: 0.3125rem;
  border: 0.125rem solid var(--main-color);
  background-color: #86AAFF;
  box-shadow: 0.25rem 0.25rem var(--main-color);
  font-size: 1.875rem;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
  letter-spacing: 0.125rem;
  color: #003566;
}
