.login-wrapper {
  --input-focus: #003566;
  --font-color: rgba(0, 53, 102, 0.2);
  --bg-color: #FFFFFF;
  --main-color: #003566;
}

.login-card-inner {
  width: 700px;
  height: 750px;
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.login-card-front {
  padding: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #CCDBFD;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  width: 700px;
  height: 750px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 20px;
  padding-left: 15px;
}

.login-title {
  margin: 20px 0;
  font-size: 45px;
  font-weight: 900;
  text-align: center;
  color: var(--main-color);
  padding-bottom: 7%;
}

.login-label {
  font-size: 24px;
  font-weight: 600;
  color: #003566;
}

.login-input {
  width: 625px;
  height: 71px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 25px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.login-input::placeholder {
  color: var(--font-color);
  opacity: 0.8;
}

.login-input:focus {
  border: 2px solid var(--input-focus);
}

.login-input + .login-label {
  margin-top: 20px; 
}

.login-button:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.login-button {
  margin: 20px 0;
  width: 625px;
  height: 75px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: #86AAFF;
  box-shadow: 4px 4px var(--main-color);
  font-size: 30px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
  letter-spacing: 2px;
  color: #003566;
}
