a {
  text-decoration: none;
}

.navbar {
  position: fixed;
  top: 0;
}

.navbar-container {
  display: flex;
  overflow: hidden;
  background-color: #ccdbfd;
  height: 7.5rem;
}

.navbar-logo {
  flex: 1;
  display: flex;
  position: relative;
  padding: 1.25rem;
  align-items: center;
}

.navbar-logo-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  background-color: var(--primary-color);
  z-index: -1;
}

.navbar-logo h4 {
  padding-left: 1.875rem;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: var(--playfair-display);
  color: #001e64;
  opacity: 0.8;
}

.navbar-menu,
.navbar-mobile {
  padding: 1.25rem;
  flex: 1.236;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4rem;
  list-style: none;
}

.navbar-menu li {
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
  font-size: 1.25rem;
  text-transform: uppercase;
  line-height: 1.25rem;
  cursor: pointer;
  padding: 0.5rem;
}

.navbar-menu li img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
}

.navbar-menu li button {
  background-color: white;
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
  font-size: 1.25rem;
  text-transform: uppercase;
  line-height: 1.25rem;
  cursor: pointer;
  padding: 0.625rem;
  border-radius: 0.625rem;
}

.navbar-login {
  display: flex;
  flex: 0.5;
  gap: 1.25rem;
  line-height: 1.25rem;
  padding: 1.25rem;
}

.navbar-mobile {
  display: none;
  gap: 1.25rem;
  position: relative;
}

.navbar-login-button {
  padding: 0.625rem 1.25rem;
  font-family: var(--plus-jakarta-sans);
  font-size: 1.375rem;
  font-weight: 900;
  color: black;
  background-color: #86aaff;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  width: 4rem;
  letter-spacing: 0.3125rem;
}

.navbar-login-button:hover {
  background-color: #6e9cff;
  box-shadow: -0.125rem -0.0625rem 0.5rem 0 rgba(255, 255, 255, 0.7), 0.125rem 0.0625rem 0.5rem 0 rgba(95, 157, 231, 0.48);
}

@media screen and (max-width: 56.25rem) {
  .navbar-container {
    background: var(--primary-color);
  }

  .navbar-menu {
    display: none;
  }

  .navbar-menu-mobile {
    display: flex;
  }
}
